<div id="calculator">
	<div class="top-line"></div>
	<div class="animated fadeIn d_8 box">
		<h1 class="enable-cursor"></h1>
	</div>
	<div class="animated fadeIn d_8 random-buttons">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="left-line"></div>
	<div class="bottom-line"></div>
	<div class="right-line"></div>
	<div id="front-nav-img">
		<div class="top animated fadeIn d_5">
			<a href="http://alphalearning.ca/courses/cfa.html" class="animated fadeIn delay_3 dark nav-img-item">CFA</a>
			<a href="http://alphalearning.ca/courses/cpa.html" class="animated fadeIn delay_6 dark nav-img-item">CPA</a>
			<a href="http://alphalearning.ca/courses/frm.html" class="animated fadeIn delay_9 dark nav-img-item">FRM</a>
		</div>
		<div class="btm aniamted fadeIn d_5">
			<a href="http://alphalearning.ca/courses/csc.html" class="animated fadeIn delay_9 dark nav-img-item">CSC</a>
			<a href="http://alphalearning.ca/courses/bcom.html" class="animated fadeIn delay_6 dark nav-img-item">BCom</a>
			<a href="http://alphalearning.ca/courses/mba.html" class="animated fadeIn delay_3 dark nav-img-item">MBA</a>
		</div>
	</div>
	<a href="http://alphalearning.ca/courses.html" class="dark learn-more animated fadeIn delay_3 d_8" >Learn More</a>
</div>