<div id="front-nav-img">
	<div class="top animated fadeIn d_8">
		<a href="http://alphalearning.ca/courses/cfa.html" class="light nav-img-item animated bounceInLeft delay_1">CFA</a>
		<a href="http://alphalearning.ca/courses/cpa.html" class="light nav-img-item animated bounceInLeft delay_2">CPA</a>
		<a href="http://alphalearning.ca/courses/frm.html" class="light nav-img-item animated bounceInLeft delay_3">FRM</a>
		<a href="http://alphalearning.ca/courses/csc.html" class="light nav-img-item animated bounceInLeft delay_4">CSC</a>
		<a href="http://alphalearning.ca/courses/bcom.html" class="light nav-img-item animated bounceInLeft delay_5">BCom</a>
		<a href="http://alphalearning.ca/courses/mba.html" class="light nav-img-item animated bounceInLeft delay_6">MBA</a>
	</div>
</div>