<footer id="main-footer">
	<div class="footer-item-container">	
		<div class="footer-item">
			<div class="content">
				<h4 class="heading">Social Media</h4>
				<div class="icons">
					<a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="footer-item">
			<div class="content">
				<h4 class="heading">Contact</h4>
				<div class="info">
					<p style="text-align: center; width: 80%; margin: auto; ;font-size: 0.8em">
						Winnie Hu, CFA, MBA<br>
						Cell: 5879883222<br>
						Email: info@alphalearning.ca<br><br>
					</p>

				</div>
			</div>
		</div>
		<div class="footer-item">
			<div class="content">
				<img class="company-logo" src="http://alphalearning.ca/style/imgs/alphalearning_logo.png"/>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright © 2016 Alphalearning. All rights reserved.</p>
	</div>
</footer>