<div id="stairs" class="mobile-flex-dir animated fadeIn d_2" style="background-image: url('http://alphalearning.ca/style/imgs/homepage-background.jpeg'); background-size: cover; height: 100%;">
	<div class="left">
		<div id="front-nav-img">
			<div class="top animated fadeIn d_5">
				<a href="https://leroywan.github.io/alphalearning/site/courses/cfa.html" class="animated fadeIn delay_3 dark nav-img-item">CFA</a>
			</div>
			<div class="mid">
				<a href="https://leroywan.github.io/alphalearning/site/courses/cpa.html" class="animated fadeIn delay_6 dark nav-img-item">CPA</a>
				<a href="https://leroywan.github.io/alphalearning/site/courses/frm.html" class="animated fadeIn delay_9 dark nav-img-item">FRM</a>
			</div>
			<div class="btm aniamted fadeIn d_5">
				<a href="https://leroywan.github.io/alphalearning/site/courses/csc.html" class="animated fadeIn delay_9 dark nav-img-item">CSC</a>
				<a href="https://leroywan.github.io/alphalearning/site/courses/bcom.html" class="animated fadeIn delay_6 dark nav-img-item">BCom</a>
				<a href="https://leroywan.github.io/alphalearning/site/courses/mba.html" class="animated fadeIn delay_3 dark nav-img-item">MBA</a>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="write-up">
			<h1>Alpha Learning, professional <span class="color2">education advisor</span> and <span class="color2">exam prep</span> provider in Edmonton</h1>
			<a href="https://leroywan.github.io/alphalearning/site/courses.html" class="dark learn-more animated fadeIn delay_3 d_8" >Learn More</a>
		</div>
	</div>
</div>