<div class="testimonials main-content">
	<h2>Our Students Love Us!</h2>
	<div class="testimonial-container">
		<div class="testimonial">
			<div class="write-up">
				<p class="more">
					<i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp&nbsp
					Alpha Learning helped me pass my CFA Level 1 exam. The tutor’s style of teaching and detailed knowledge of the curriculum really helped me. I was previously using Youtube videos, additional condensed notes, and the textbook but found that nothing was working to help me fully understand the material. This is when I called Alpha Learning for that extra help I could not get from learning by myself. Tutor was able to easily explain to me concepts that I was struggling with and I found it very easy to meet up with her. I would highly recommend getting a tutor to help you when you are struggling with the material or questions to really give you that extra amount of knowledge and be able to ask questions so you understand better. The time I spent with the tutor of Alpha Learning was well worth it considering it took me much longer to try to understand difficult concepts on my own. Highly recommended! &nbsp&nbsp
				</p>
				<i style="transform: translateY(-210%); float: right;" class="fa fa-quote-right" aria-hidden="true"></i>
			</div>
			<div class="info">
				<span class="position"><h5><span class="italic">Jasleen Minhas-Account Manager,</span> AMIRI Wealth Management</h5></span>
			</div>
		</div>
		<div class="testimonial">
			<div class="write-up">
				<p class="more">
					<i class="fa fa-quote-left" aria-hidden="true"></i>	
					&nbsp&nbsp
					Alpha Learning provided clear and easy to understand teachings that assisted my learning in statistics of my MBA program. Tutor’s patient approach and prompt responses to questions made her very easy to work with. I highly recommend Alpha Learning.&nbsp&nbsp
				</p>
				<i style="transform: translateY(-210%); float: right;" class="fa fa-quote-right" aria-hidden="true"></i>
			</div>
			<div class="info">
				<span class="position"><h5><span class="italic">Jorn Starko-Management Supervisor</span>, City of Edmonton</h5></span>
			</div>
		</div>
		<div class="testimonial">
			<div class="write-up">
				<p class="more">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					&nbsp&nbsp
					Alpha Learning introduced Winnie, an amazing and caring tutor to me.  She helped me on both my finance classes. Thanks to her I have a better understanding of finance and a better view of different concepts. She provides me with different tools to work on my project and assignment; She is so patient with me and she makes sure that every concept is well understood. Not only she has a lot of knowledge in Finance, she helped me to get my confidence back and inspired me to work harder. My grades improved a lot after working with her. 
					&nbsp&nbsp
				</p>
				<i style="transform: translateY(-210%); float: right;" class="fa fa-quote-right" aria-hidden="true"></i>
			</div>
			<div class="info">
				<span class="position"><h5><span class="italic">Oumayma  Oussab-Undergrad Student,</span>Finance at University of Alberta</h5></span>
			</div>
		</div>
	</div>
</div>